.site-footer {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
    min-height: 150px;
    background-color: rgb(255, 227, 136);
    align-items: center;
    justify-content: space-between;
}